

header{
background-image: url(/assets/winter-mountain-landscape-with-fir-trees-on-the-PUUL5AX.JPG);

height: 600px;
}
#trait1{
    border: solid 1px blue;
}

.footer{
    height: 100px;
    margin-top: 200px;
}
#mentions{
   margin-top: 200px; 
   font-size: 100px;
}

    